<div class="main-product-container">
	<div class="image-block">
		<div class="left-image-grid-container">
			<ul>
				<li class="left-image-grid-list"><img class="left-grid-image" alt="" src="./assets/images/product_1.jpeg" /></li>
				<li class="left-image-grid-list"><img class="left-grid-image" alt="" src="./assets/images/product_1.jpeg" /></li>
				<li class="left-image-grid-list "><img class="left-grid-image image-highlight" alt="" src="./assets/images/product_1.jpeg" /></li>
				<li class="left-image-grid-list"><img class="left-grid-image" alt="" src="./assets/images/product_1.jpeg" /></li>
				<li class="left-image-grid-list"><img class="left-grid-image" alt="" src="./assets/images/product_1.jpeg" /></li>
			</ul>
		</div>
		<div class="left-image-display-container">
			<img class="left-display-image" alt="" src="./assets/images/product_1.jpeg" />
		</div>
	</div>
	<div class="description-block">
		<div class="item-heading"><h1 class="">Product Name Goes Here</h1></div>
		<div class="header-desc-container">
			<div class="price-details">
				<span class="price-tag">Price:</span>
				<span class="price-amount">₹ 1299.99</span>
			</div>
			<div class="customer-reviews">
				<span class="start-rating">☆☆☆☆☆</span>
				<span class="rating-count">| 30 ratings</span>
				<p class="answered-questions">|	300 answered questions</p>
			</div>
		</div>
		<hr>
	</div>

</div>